<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <style>
    </style>
    <header class="py-3 mb-4 border-bottom" style="height: 7rem;">
        <div class="container-xl d-flex flex-wrap align-item-center justify-content-between h-100">
            <div class="col-3 mb-2 h-100">
                <a href="/" class="h-100 p-2 d-block">
                    <div class="h-100">
                        <img src="~/images/static/logo-black.png" alt="Ticket Resell" class="d-block h-100">
                    </div>
                </a>
            </div>
            <ul class="nav mb-2 col-6 justify-content-center align-items-center">
                <li class="d-flex align-items-center">
                    <a href="/" class="nav-link px-2 link-dark text-dark fs-3 fw-semibold">Home</a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="/Tickets" class="nav-link px-2 link-dark text-dark fs-3 fw-semibold">Tickets</a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="/Orders" class="nav-link px-2 link-dark text-dark fs-3 fw-semibold">My Orders</a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="/MyTickets" class="nav-link px-2 link-dark text-dark fs-3 fw-semibold">My Tickets</a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="/Chats" class="nav-link px-2 link-dark text-dark fs-3 fw-semibold">Chats</a>
                </li>
                <li class="d-flex align-items-center">
                    <a href="/Subscriptions" class="nav-link px-2 link-dark text-dark fs-3 fw-semibold">Pricing</a>
                </li>
            </ul>
            <div class="col-3 mb-2 d-flex align-items-center justify-content-end h-100">
                <a href="/Login" type="button" class="btn btn-outline-dark fs-3 px-5 me-1" >Login</a>
                <a href="/Register" type="button" class="btn btn-outline-dark fs-3 px-5" >Register</a>
                <div class="h-100">
                    <a href="/Profile" class="d-block h-100" role="button">
                        <img src="~/images/static/user-avatar.png" class="d-block h-100" />
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="border border-opacity-15" style="height: 0.1rem;"></div>
    <footer class="py-3 mt-4">
        <div class="container-xl">
            <div class="w-100 row justify-content-between align-items-start">
                <div class="col-3">
                    <p class="fs-4 text-dark text-uppercase fw-bold mb-4">Your account</p>
                    <p class="fs-4 text-secondary text-uppercase">Account information</p>
                    <p class="fs-4 text-secondary text-uppercase">tickets</p>
                    <p class="fs-4 text-secondary text-uppercase">orders</p>
                    <p class="fs-4 text-secondary text-uppercase">membership</p>
                    <p class="fs-4 text-secondary text-uppercase">transaction</p>
                </div>
                <div class="col-3">
                    <p class="fs-4 text-dark text-uppercase fw-bold mb-4">About us</p>
                    <p class="fs-4 text-secondary text-uppercase">social network</p>
                    <p class="fs-4 text-secondary text-uppercase">developers</p>
                </div>
                <div class="col-3">
                    <p class="fs-4 text-dark text-uppercase fw-bold mb-4">Pages</p>
                    <p class="fs-4 text-secondary text-uppercase">home</p>
                    <p class="fs-4 text-secondary text-uppercase">upload ticket</p>
                    <p class="fs-4 text-secondary text-uppercase">buy ticket</p>
                    <p class="fs-4 text-secondary text-uppercase">chats</p>
                    <p class="fs-4 text-secondary text-uppercase">terms</p>
                </div>
                <div class="col-3">
                    <p class="fs-4 text-dark text-uppercase fw-bold mb-4">Follow us</p>
                    <p class="fs-4 text-secondary text-uppercase">facebook</p>
                    <p class="fs-4 text-secondary text-uppercase">instagram</p>
                    <p class="fs-4 text-secondary text-uppercase">tiktok</p>
                </div>
            </div>
            <div class="w-100">&copy; Copyright by Tixflow. All rights serve.</div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.payos.vn/payos-checkout/v1/stable/payos-initialize.js"></script>
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>