@page "/Tickets/Create"
@model Views.Pages.Tickets.CreateTicketPageModel

@{
    ViewData["Title"] = "CreateTicketPage";
    Layout = "_Layout";
}

<div class="container-fluid w-80 mx-auto" style="height: 100%">


    <div class="card shadow-lg border-0 mx-auto" style="max-width: 600px; border-radius: 15px;">
        <div class="card-body p-5">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>

                <div class="form-group">
                    <img id="previewImage" src="/images/default.jpg"
                         class="card-img-top mb-2" style="height: 25rem; object-fit: cover;" />
                </div>

                <div class="form-group">
                    <label asp-for="Image" class="col-sm-2 col-form-label control-label text-dark font-weight-bold">Image<span class="text-danger">*</span></label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="Image" class="custom-file-input form-control" onchange="previewImage(event)" />
                        </div>
                    </div>
                    <span asp-validation-for="Ticket.Image" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ticket.Title" class="control-label text-dark font-weight-bold"
                        style="margin-top: 10px">Title<span class="text-danger">*</span></label>
                    <input asp-for="Ticket.Title" class="form-control shadow-sm border-0" placeholder="Enter Title" />
                    <span asp-validation-for="Ticket.Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ticket.Description" class="control-label text-dark font-weight-bold"
                        style="margin-top: 10px">Description</label>
                    <textarea asp-for="Ticket.Description" class="form-control shadow-sm border-0" rows="4"
                        placeholder="Enter Description"></textarea>
                    <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ticket.TypeId" class="control-label text-dark font-weight-bold" style="margin-top: 10px">
                        Type<span class="text-danger">*</span>
                    </label>
                    <select asp-for="Ticket.TypeId" class="form-control shadow-sm border-0" asp-items="@(ViewData["TypeId"] as SelectList)">
                        <option selected>Select Ticket Type</option>
                    </select>
                    <span asp-validation-for="Ticket.TypeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ticket.ExpiryDate" class="control-label text-dark font-weight-bold"
                        style="margin-top: 10px">Expiry Date<span class="text-danger">*</span></label>
                    <input asp-for="Ticket.ExpiryDate" type="date" class="form-control shadow-sm border-0" />
                    <span asp-validation-for="Ticket.ExpiryDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ticket.Price" class="control-label text-dark font-weight-bold"
                        style="margin-top: 10px">Price<span class="text-danger">*</span></label>
                    <input asp-for="Ticket.Price" type="number" step="0.01" class="form-control shadow-sm border-0"
                        placeholder="Enter Price" />
                    <span asp-validation-for="Ticket.Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ticket.Quantity" class="control-label text-dark font-weight-bold"
                        style="margin-top: 10px">Quantity<span class="text-danger">*</span></label>
                    <input asp-for="Ticket.Quantity" type="number" class="form-control shadow-sm border-0"
                        placeholder="Enter Quantity" />
                    <span asp-validation-for="Ticket.Quantity" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Create" class="btn btn-dark font-weight-bold btn-lg shadow-sm w-100"
                        style="margin-top: 10px" />
                </div>
                <div class="form-group text-center">
                    <a href="/MyTickets" class="btn btn-dark font-weight-bold btn-lg shadow-sm w-100"
                        style="margin-top: 10px">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
    }

    .card {
        background-color: #ffffff;
        border-radius: 15px;
    }

    .form-control {
        border-radius: 5px;
        font-size: 1.6rem;
    }

    .form-control:focus {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        border-color: #007bff;
    }

    .btn-dark {
        background-color: #343a40;
        color: white;
        border: none;
        transition: background-color 0.3s;
        font-size: 1.6rem;
    }

    .btn-dark:hover {
        background-color: #23272b;
    }

    .btn-lg {
        padding: 1rem;
        font-size: 1.25rem;
    }

    .h1,
    .card-title {
        color: black;
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
