@page "/login"
@model Views.Pages.LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = "_Authenticate";
}
<div class="">
    <div class="">
        <img src="~/images/static/banner.jpg" alt="">
    </div>
</div>
